<div class="row">
    <div class="col-lg-3">
        <div class="sidebar">
            <a data-ng-repeat="feed in feeds" href="#feeds/{{feed.id}}" class="list-group-item" data-ng-class="{'active': feed.id == activeFeed}">
                <span class="badge">{{feed.unread}}</span>{{feed.title}}
            </a>
            <a class="list-group-item" href="#addfeed">Add feed</a>
        </div>
    </div>

    <div class="col-lg-9">
        <div data-ng-repeat="item in feedItems" class="panel panel-default">
            <div class="panel-heading"><a data-ng-href="{{item.link}}"><h4 data-ng-bind-html-unsafe="item.title"></h4></a></div>
            <div class="panel-body">
                <p data-ng-bind-html-unsafe="item.description"></p>
            </div>
            <div class="panel-footer">
                <small>{{item.pub_date}}</small>
            </div>
        </div>
    </div>
</div>
